<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
     <acl>
        <resources>
        	<resource id="Magento_Backend::admin">
	            <resource id="Mv_Megaventory::megaventory" title="Megaventory" sortOrder="200">
	                <resource id="Mv_Megaventory::megaventory_settings" title="Settings" sortOrder="10">
	                </resource>
	                <resource id="Mv_Megaventory::megaventory_pendings" title="Pending Updates" sortOrder="20">
	                </resource>
	                <resource id="Mv_Megaventory::megaventory_log" title="Log" sortOrder="30">
	                </resource>
	            </resource>
            </resource>
        </resources>
    </acl>
</config>